
@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar</h2>

<h3>Tem certeza que deseja apagar o serviço?</h3>
<hr />

<div role="form">
    <div class="form-group">
        Id: @Model.idServico
    </div>
    <div class="form-group">
        Nome: @Model.nomeServico
    </div>

    @using (Html.BeginForm())
    {
        <div>
            <input class="btn btn-default" type="submit" value="Delete" />
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>



